@font-face {
    font-family: 'ZooFont';
    src: url('../font/zoofont-webfont.woff2') format('woff2'),
    url('../font/zoofont-webfont.woff') format('woff'),
    url('../font/zoofont-webfont.ttf') format('truetype'),
    url('../font/zoofont-webfont.svg#funnyzebrafunnyzebra_caps_num') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container {
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


nav, nav > * {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
}

nav {
    border-bottom: 1px solid RGBA(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

#title {
    margin-right: 30px;
    font-family: "ZooFont", Arial, sans-serif;;
    font-size: 3.5rem;
    font-stretch: expanded;
}

.mdc-card > img {
    width: 90%;
    align-self: center;
}

.mdc-card:nth-child(2) {
    margin-left: 50px;
}

.mdc-card {
    width: 100%;

    /*margin:  0 50px 0 50px;*/
}

#title > span {
    color: #41AA07;
    background: -moz-linear-gradient(rgba(195, 106, 34, 1) 0%, #41AA07 100%);
    background: -webkit-linear-gradient(rgba(195, 106, 34, 1) 0%, #41AA07 100%);
    background: linear-gradient(rgba(195, 106, 34, 1) 0%, #41AA07 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(65, 170, 7, 0.2);
    font-variant: small-caps;
    letter-spacing: -5px;
    word-spacing: 30px;
}

:root {
    --mdc-theme-primary: #41AA07;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
}

.btn-error {
    background-color: var(--mdc-theme-error, #b00020) !important;
    /* @alternate */
    color: var(--mdc-theme-on-error, #b00020) !important;
}

.link {
    text-decoration: none;
    color: inherit;
}


.mdc-card__action-buttons > * > span {
    font-weight: bolder;
}

.mdc-card-wrapper__text-section > * {
    padding-left: 16px;
}

.mdc-data-table {
    width: 50%;
    align-self: center;
}

.edit-create-card {
    margin-top: 15px;
    width: 100%;
    align-self: flex-end;
    flex-direction: column;
}


.edit-create-card > * > form, .detail-table > * > * {
    width: 30%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.edit-create-card > * > form > *, .detail-table > * > * {
    margin-bottom: 5px;
}

