{{> header}}
<div class="mdc-data-table">
    <table class="mdc-data-table__table" aria-label="Animals">
        <thead>
        <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Id</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Type</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Has eaten</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="mdc-data-table__content">
        {{#animals}}
            <tr class="mdc-data-table__row">
                <td class="mdc-data-table__cell">{{id}}</td>
                <td class="mdc-data-table__cell">{{name}}</td>
                <td class="mdc-data-table__cell">{{animalType}}</td>
                <td class="mdc-data-table__cell">{{#food}}{{food.foodName}}{{/food}}</td>
                <td class="mdc-data-table__cell">
                    <a href="/animals/{{id}}/edit" class="mdc-button mdc-button--raised">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                            Edit
                        </span>
                    </a>
                    <a href="/animals/{{id}}/delete" class="btn-error mdc-button mdc-button--raised ">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">delete_forever</i>
                            Delete
                        </span>
                    </a>
                </td>
            </tr>
        {{/animals}}

        </tbody>
    </table>
</div>
{{> footer}}
