{{> header}}

<div class="mdc-card detail-table">
    <div class="mdc-card-wrapper__text-section">
        <h3>Animal details</h3>
    </div>
    <div class="mdc-card-wrapper__text-section ">

        <div>
            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating">
                <input class="mdc-text-field__input" type="text" aria-labelledby="label-name"
                       value="{{#animal.name}}{{animal.name}}{{/animal.name}}"/>
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">Name</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating">
                <input class="mdc-text-field__input" type="text" aria-labelledby="label-animalType"
                       value="{{#animal.animalType}}{{animal.animalType}}{{/animal.animalType}}">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label mdc-floating-label--float-above"
                            id="my-label-id">Animal type</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating">
                <input class="mdc-text-field__input" type="text" aria-labelledby="label-foodType"
                       value="{{#animal.foodType}}{{animal.foodType}}{{/animal.foodType}}">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">Food type</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating">
                <input class="mdc-text-field__input" type="text" aria-labelledby="label-animalType"
                       value="{{#animal.food.foodName}}{{animal.food.foodName}}{{/animal.food.foodName}}">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">Is eating</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
            </label>
        </div>
        {{#allowDelete}}
            <div class="mdc-card__actions">
                <form action="/animals/{{id}}/delete" method="post">
                    <div class="mdc-card__action-buttons">
                        Delete this animal?
                        <button type="submit" class="btn-error mdc-button mdc-button--raised ">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">delete_forever</i> Yes
                        </button>
                    </div>
                </form>
            </div>
        {{/allowDelete}}
    </div>
</div>
{{> footer}}
