{{> header}}

<a href="/animals/" class="mdc-button mdc-button--outlined " style="width: fit-content">
  <div class="mdc-button__ripple"></div>
  <span class="mdc-button__label">
    <i class="material-icons mdc-button__icon" aria-hidden="true">keyboard_backspace</i>
    Back to animal List
  </span>
</a>

<div class="mdc-card edit-create-card">
  <div class="mdc-card-wrapper__text-section">
    <h3>{{#add}}Create new animal:{{/add}}{{^add}}Edit animal with id: {{animal.id}}{{/add}}</h3>
  </div>
  <div class="mdc-card-wrapper__text-section">

    <form action="{{#add}}/animals/add{{/add}}{{^add}}/animals/{{animal.id}}/edit{{/add}}" name="animal" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{#animal.name}}{{animal.name}}{{/animal.name}}"/>
      {{#add}}
        <label for="AnimalTypes">Animal type</label>
        <select name="animalType" id="AnimalTypes" value="{{#animal.animalType}}{{animal.animalType}}{{/animal.animalType}}">
          {{#animalTypes}}
            {{#selected}}
              <option value="{{this}}" selected>{{name}}</option>
            {{/selected}}
            {{^selected}}
              <option value="{{this}}">{{name}}</option>
            {{/selected}}
          {{/animalTypes}}
        </select>
      {{/add}}
      {{^add}}
        <label for="AnimalTypesReadOnly">Animal type (Read only)</label>
        <input id="AnimalTypesReadOnly" name="animalType" value="{{#animal.animalType}}{{animal.animalType}}{{/animal.animalType}}" readonly>
      {{/add}}
      <label for="FoodTypes">Food type</label>
      <select name="foodType" id="FoodTypes" value="{{#animal.foodType}}{{animal.foodType}}{{/animal.foodType}}">
        {{#foodTypes}}
          {{#selected}}
            <option value="{{this}}" selected>{{name}}</option>
          {{/selected}}
          {{^selected}}
            <option value="{{this}}">{{name}}</option>
          {{/selected}}
        {{/foodTypes}}
      </select>
      <label for="Foods">Food</label>
      <select id="Foods" name="food" value="{{#animal.food}}{{animal.food}}{{/animal.food}}">
        <option value="null">NoFood</option>
        {{#foods}}
          {{#selected}}
            <option value="{{id}}" selected>{{foodName}}</option>
          {{/selected}}
          {{^selected}}
            <option value="{{id}}">{{foodName}}</option>
          {{/selected}}
        {{/foods}}
      </select>
      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
          <input type="submit" class="mdc-button mdc-card__action mdc-card__action--button mdc-button__ripple" value="{{#add}}Create{{/add}}{{^add}}Update{{/add}}"/>
        </div>
      </div>
    </form>
  </div>
</div>

{{> footer}}
