<!DOCTYPE html>
<html lang="En">
<head>
    <title>Zoo application web</title>
    <meta charset="UTF-8"/>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">-->
<!--    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>-->
        <link href="css/latest_dist_material-components-web.css" rel="stylesheet">
        <script src="js/latest_dist_material-components-web.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>


</head>
<body>
<nav>
    <a href="/">
        <div id="title"><span>Welcome to the </span></div>
        <img src="./image/tiger_zoo_logo_4x.jpg" width="150px">
    </a>
</nav>
<div class="container">
