{{> header}}

<h2>What do you want to do?</h2>
<div class="options">

    <div class="mdc-card">
        <div class="mdc-card-wrapper__text-section">
            <h3>Animal options</h3>
        </div>
        <img src="image/animals.jpg" alt="animals">

        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="/animals">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Show</span>
                </a>
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="/animals/add">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Add</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mdc-card">
        <div class="mdc-card-wrapper__text-section">
            <h3>Visitor options</h3>
        </div>
        <img src="image/people.png" alt="people">

        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="/visitors">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Show</span>
                </a>
                <a class="mdc-button mdc-card__action mdc-card__action--button " href="/visitors/add">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Add</span>
                </a>
            </div>
        </div>
    </div>
</div>
{{> footer}}
